<!DOCTYPE html>
<html>
    <head>
        <title>FlickList</title>
        <style type="text/css">
            .error {
                color: red;
            }

            ul {
                list-style-image: url('http://i64.tinypic.com/2llomcn.gif');
            }

            ul li::before {
                width: 10px;
            }
        </style>
    </head>
    <body>
        <h1>
            <a href="/">FlickList</a>
        </h1>

        {% block content %}
        {% endblock %}

        {% block addconfirm %}
        {% endblock %}

    </body>
</html>
